<h2 class="ui dividing header">All Genres</h2>
<p><%= link_to "Create new Genre", new_genre_path, class: "ui button" %></p>
<ul>
  <% @genres.each do |genre| %>
      <li><%= link_to genre.name, genre_path(genre) %></li>
  <% end %>
</ul>