<h1><%=@title.capitalize%></h1>

<h2><%=@user.name%></h2>
  <%=link_to "View My Profile", @user%>

<%if @users.any?%>
<%@users.each do |user|%>
<%=link_to user.name, user_path(user)%>
<%end%>
<%end%>
