<%= form_for @playlist, html: {class: "ui form"} do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit class: "ui primary button" %>
<% end %>
