<h2 class="ui dividing header"><%= title %></h2>
<%= paginate @playlists, window: 2 %>
<div class="ui divider" style="margin-top: 55px"></div>
<br>
<div class="ui cards">
  <% @playlists.each do |playlist| %>
      <%= render partial: "playlist", locals: {playlist: playlist, color: color} %>
  <% end %>
</div>
