<h1>Likes</h1>

<h2><%= @playlist.name %></h2>
<p><%= link_to "View The Playlist", @playlist, class: "ui olive button" %></p>


<div>
  <% if @likes.any? %>
    <div class="ui cards">
      <% @likes.each do |like| %>
          <%= render partial: "users/card", locals: {user: like.user} %>
      <% end %>
    </div>
<% else %>
    No likes yet!
<% end %>
</div>
